@use "@styles/color" as *;
@use "@styles/space" as *;
@use "@styles/font" as *;

.issueListContainer {
  display: flex;
  flex-direction: column;
  gap: $s6;
}

.filterListContainer {
  display: flex;
  flex-direction: column;
  gap: $s6;
  align-self: stretch;
}

.container {
  background: white;
  border: 1px solid $gray-200;
  box-sizing: border-box;
  box-shadow:
    0 4px 8px -2px rgb(16 24 40 / 10%),
    0 2px 4px -2px rgb(16 24 40 / 6%);
  border-radius: $s2;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow {
  border-bottom: 1px solid $gray-200;
}

.headerCell {
  padding: $s3 $s6;
  text-align: left;
  color: $gray-500;
  font: $text-xs-medium;
}

.checkboxCell {
  display: flex;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $s4 $s6;
  border-top: 1px solid $gray-200;
}

.paginationButton {
  height: 38px;
  padding: $s0 $s4;
  background: white;
  border: 1px solid $gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;
}

.paginationButton:not(:first-of-type) {
  margin-left: $s3;
}

.pageInfo {
  color: $gray-500;
  font: $text-sm-regular;
}

.pageNumber {
  font: $text-sm-medium;
}
