@use "@styles/color" as *;
@use "@styles/space" as *;
@use "@styles/font" as *;

.row:nth-child(2n) {
  background: $gray-50;
}

.cell {
  padding: $s4 $s6;
  color: $gray-500;
  font: $text-sm-regular;
}

.issueCell {
  composes: cell;
  display: flex;
  align-items: center;
}

.languageIcon {
  width: $s10;
  margin-right: $s3;
}

.errorTypeAndMessage {
  color: $gray-900;
}

.errorType {
  font: $text-sm-medium;
}
