@use "@styles/color" as *;
@use "@styles/font" as *;
@use "styles/breakpoint" as *;
@use "styles/space" as *;

.error-container {
  background-color: $error-25;
  color: $error-700;
  display: grid;
  grid-template-columns: minmax($s10, 2fr) minmax($s5, 1fr);
  border: $error-300 solid 1px;
  border-radius: $s2;
  font: $text-sm-medium;
  width: 94vw;
  padding: 0 $s4;
  box-sizing: border-box;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    width: 70vw;
  }
}

.left-banner,
.right-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $s7;
  letter-spacing: 0.5px;
  word-wrap: break-word;
}

.right-banner {
  justify-self: end;
  color: $error-700;
  border: none;
  background: transparent;
  cursor: pointer;
}

.alert-circle {
  color: $error-600;
}

.error-arrow {
  color: $error-700;
}
