@use "@styles/color" as *;
@use "@styles/space" as *;
@use "@styles/font" as *;

.noResultContainer {
  display: flex;
  padding: 0 $s8;
  flex-direction: column;
  align-items: center;
  gap: $s20;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  justify-content: center;
  flex: 2;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $s1;
  align-self: stretch;
}

.header {
  color: $gray-900;
  text-align: center;
  font: $text-md-medium;
  height: 0;
}

.paragraph {
  color: $gray-500;
  text-align: center;
  font: $text-sm-regular;
}

.button {
  display: flex;
  align-items: flex-start;
  gap: $s4;
  align-self: stretch;
  width: 22rem;
}

.filterContainer {
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-left: 45%;
}
