@import "styles/color";
@import "styles/breakpoint";

.footer {
  background-color: $gray-50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  gap: 1.7em;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;

    .version {
      order: 0;
      margin-left: 1.37em;
    }

    .links {
      order: 0;
      display: flex;
      justify-content: center;
      gap: 1.5em;
      margin-right: 1em;
    }

    .logo {
      order: 0;
      margin-right: 2.5em;
      justify-self: end;
    }
  }
}

.version {
  order: 3;
  color: $gray-400;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.links {
  order: 1;
  display: flex;
  gap: 1.5em;
  color: $gray-500;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.logo {
  order: 2;
}
