@use "@styles/breakpoint" as *;
@use "@styles/space" as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36vh;
  margin-left: $s11;

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
    margin-left: $s11;
  }
}
