@use "@styles/color";
@use "@styles/font";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // button sizes
  &.small {
    padding: 8px 16px;
    font: font.$text-sm-medium;
    letter-spacing: 0.5px;
  }

  &.medium {
    padding: 10px 16px;
    font: font.$text-sm-medium;
    letter-spacing: 0.5px;
  }

  &.large {
    padding: 10px 18px;
    font: font.$text-md-medium;
    letter-spacing: 0.5px;
  }

  &.xlarge {
    padding: 12px 20px;
    font: font.$text-md-medium;
    letter-spacing: 0.5px;
  }

  // button colors
  &.primary {
    border: solid 1px;
    border-radius: 8px;
    background: color.$primary-600;
    color: white;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  &.secondary {
    border: solid 1px color.$primary-50;
    border-radius: 8px;
    color: color.$primary-700;
    background: color.$primary-50;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  &.gray {
    border-radius: 8px;
    color: color.$gray-700;
    background: white;
    border: 1px solid color.$gray-300;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  &.empty {
    color: color.$primary-700;
    border: none;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  &.empty-gray {
    color: color.$gray-500;
    border: none;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  &.error {
    border: solid 1px;
    border-radius: 8px;
    background: color.$error-600;
    color: white;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  &.empty-error {
    border: none;
    color: color.$error-700;

    // button states
    &:hover {
      background-color: lightblue;
    }

    &:focus {
      background-color: darkblue;
    }

    &:disabled {
      background-color: gray;
    }
  }

  // buttons with icons
  &.leading {
    color: red;
  }

  &.trailing {
    color: red;
  }

  &.only {
    color: red;
  }
}
