@use "@styles/color" as *;
@use "@styles/font" as *;
@use "@styles/space" as *;
@use "@styles/shadow" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $s2;
  border-radius: $s2;
  box-shadow: $xs;
  font: $text-md-medium;
  min-width: 0;
}

.icon {
  height: 100%;
}

// button sizes
.small {
  height: 2.25rem;
  padding: 0.5rem 0.875rem;
  font: $text-sm-medium;
  letter-spacing: 0.0313rem;

  &.iconOnly {
    padding: 0.5rem;
  }
}

.medium {
  height: $s10;
  padding: 0.625rem $s4;
  font: $text-sm-medium;
  letter-spacing: 0.0313rem;

  &.iconOnly {
    padding: 0.625rem;
  }
}

.large {
  min-height: 2.75rem;
  padding: 0.625rem 1.125rem;
  font: $text-md-medium;
  letter-spacing: 0.0313rem;
  flex-shrink: 1;

  &.iconOnly {
    padding: 0.625rem;
  }
}

.xlarge {
  height: $s12;
  padding: 0.75rem $s5;
  font: $text-md-medium;
  letter-spacing: 0.0313rem;

  &.iconOnly {
    padding: 0.75rem;
  }
}

// button colors
.primary.default,
.primary.iconOnly {
  border: 1px solid $primary-600;
  background: $primary-600;
  color: $white;

  &:hover {
    border: 1px solid $primary-700;
    background: $primary-700;
  }

  &:focus {
    border: 1px solid $primary-600;
    background: $primary-600;
    box-shadow: $xs, $focus-primary;
    outline: 4px solid $primary-100;
  }

  &:disabled {
    border: 1px solid $primary-200;
    background: $primary-200;
  }
}

.secondary.default,
.secondary.iconOnly {
  border: 1px solid $primary-50;
  background: $primary-50;
  color: $primary-700;

  &:hover {
    border: 1px solid $primary-100;
    background: $primary-100;
  }

  &:focus {
    outline: 4px solid $primary-100;
    border: 1px solid $primary-50;
    background: $primary-50;
    box-shadow: $xs, $focus-primary;
  }

  &:disabled {
    border: 1px solid $primary-25;
    background: $primary-25;
  }
}

.gray.default,
.gray.iconOnly {
  border: 1px solid $gray-300;
  background: $white;
  color: $gray-700;

  &:hover {
    background: $gray-50;
    color: $gray-800;
  }

  &:focus {
    border: 1px solid $gray-300;
    background: $white;
    box-shadow: $xs, $focus-gray;
    outline: 4px solid $gray-100;
  }

  &:disabled {
    border: 1px solid $gray-200;
    background: $white;
    color: $gray-300;
  }
}

.error.default,
.error.iconOnly {
  border: 1px solid $error-600;
  background: $error-600;
  color: $white;

  &:hover {
    border: 1px solid $error-700;
    background: $error-700;
  }

  &:focus {
    outline: 4px solid $error-100;
    border: 1px solid $error-600;
    background: $error-600;
    box-shadow:
      0 1px 2px 0 rgb(16 24 40 / 5%),
      $focus-error;
  }

  &:disabled {
    border: 1px solid $error-200;
    background: $error-200;
  }
}

.primary.empty {
  color: $primary-700;
  border: none;
  box-shadow: none;

  &:hover {
    background: $primary-50;
  }

  &:focus {
    color: $primary-700;
    border: none;
    outline: 4px solid $primary-100;
  }

  &:disabled {
    color: $gray-300;
  }
}

.gray.empty {
  color: $gray-500;
  border: none;
  box-shadow: none;

  // button states
  &:hover {
    background-color: $gray-50;
    color: $gray-600;
  }

  &:focus {
    color: $gray-500;
    outline: 1px solid $gray-300;
  }

  &:disabled {
    color: $gray-300;
  }
}

.error.empty {
  border: none;
  color: $error-700;
  box-shadow: none;

  // button states
  &:hover {
    background-color: $error-50;
    border: solid 1px $error-50;
  }

  &:focus {
    border: none;
    color: $error-700;
    outline: 4px solid $error-100;
  }

  &:disabled {
    color: $error-300;
  }
}
