@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: space.$s1;
  border: 1px solid color.$gray-300;
  background: color.$white;
  width: space.$s4;
  height: space.$s4;
  color: color.$primary-600;

  & .check,
  & .indeterminateCheck {
    display: none;
    width: 0.75rem;
    height: 0.75rem;
  }

  &.indeterminate .indeterminateCheck {
    display: block;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  cursor: pointer;
  font: font.$text-sm-medium;

  & input {
    opacity: 0;
    position: absolute;

    &:checked ~ .checkbox {
      border-color: color.$primary-600;
      background: color.$primary-50;

      .check {
        display: block;
      }
    }

    &:indeterminate ~ .checkbox {
      border-color: color.$primary-600;
      background: color.$primary-50;

      .indeterminateCheck {
        display: block;
      }
    }
  }
}
