@use "@styles/color" as *;
@use "@styles/font" as *;
@use "@styles/space" as *;
@use "@styles/shadow" as *;

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $s1;
  border: 1px solid $gray-300;
  background: $white;
  color: $primary-600;
  min-width: $s4;
  min-height: $s4;
}

.small {
  font: $text-sm-medium;
  gap: $s2;

  & .check,
  & .indeterminateCheck {
    display: none;
  }

  & .checkbox {
    width: $s4;
    height: $s4;
  }
}

.medium {
  font: $text-md-medium;
  gap: $s3;

  & .check,
  & .indeterminateCheck {
    display: none;
  }

  & .checkbox {
    width: $s5;
    height: $s5;
  }
}

.small .checkbox:hover,
.medium .checkbox:hover {
  border-color: $primary-600;
  background: $primary-50;
}

.checkbox.indeterminate .indeterminateCheck {
  display: block;
}

.container {
  display: flex;
  cursor: pointer;

  &:focus-within .checkbox {
    box-shadow: $focus-primary;
    border-color: $primary-300;
  }

  & input {
    opacity: 0;
    position: absolute;

    &:checked ~ .checkbox {
      border-color: $primary-600;
      background: $primary-50;

      .check {
        display: block;
      }
    }

    &:indeterminate ~ .checkbox {
      border-color: $primary-600;
      background: $primary-50;

      .indeterminateCheck {
        display: block;
      }
    }
  }

  & input:disabled ~ .checkbox {
    border: 1px solid $gray-200;
    background: $gray-100;
  }

  & input:disabled ~ * {
    color: $gray-300;
    cursor: not-allowed;
  }
}
