$xs: 0 1px 2px 0 #1018280d;
$lg: 0 12px 16px -4px rgb(16 24 40 / 10%),
  0 4px 6px -2px rgb(16 24 40 / 5%);
$focus-primary: 0 0 0 4px #f4ebff;
$focus-gray: 0 0 0 4px #f2f4f7;
$focus-error: 0 0 0 4px #fee4e2;
