@use "@styles/color" as *;
@use "@styles/font" as *;
@use "@styles/space" as *;
@use "@styles/shadow" as *;

.selectBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $s2;
  align-self: stretch;
}

.selectContainer {
  position: relative;
  display: flex;
  padding: $s3 $s4;
  width: 18rem;
  align-items: center;
  justify-content: space-between;
  border-radius: $s2;
  border: 1px solid $gray-300;
  background: $white;
  box-shadow: $xs;
  gap: $s2;
  font: $text-md-regular;
  color: $gray-900;
  cursor: pointer;

  &:focus {
    outline: none;
    border: 1px solid $primary-300;
    box-shadow: $xs, $focus-primary;
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid $gray-300;
    background: $gray-50;
    box-shadow: $xs;
    color: $gray-500;
  }
}

.errorContainer {
  border: 1px solid $error-300;

  &:focus {
    border: 1px solid $error-300;
    box-shadow: $xs, $focus-error;
  }
}

.selectContainer.placeholder {
  color: $gray-500;
}

.selectedBase {
  background: $primary-25;
  display: flex;
  gap: $s2;
}

.options {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: $s2;
  background: $white;
  box-shadow: $lg;
  margin-top: 10rem;
  display: flex;
  padding: $s1 $s0;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.option {
  cursor: pointer;
  display: flex;
  padding: $s3 $s4;
  align-items: center;
  justify-content: space-between;
  gap: $s2;
  align-self: stretch;
  color: $gray-900;
  font: $text-md-regular;

  &:hover {
    background: $primary-50;
  }
}

.option.selected {
  background: $primary-25;
}

.arrowIcon,
.checkIcon,
.openIcon,
.selectIcon {
  width: $s5;
  height: $s5;
}

.label {
  color: $gray-700;
  font: $text-sm-medium;
}

.hint {
  color: $gray-500;
  font: $text-sm-regular;
}

.errorText {
  color: $error-500;
  font: $text-sm-regular;
}

.placeholderOption {
  color: $gray-500;
}
